<ul class="nav navbar-nav">
    <li class="active"><a href="~/Default.cshtml" runat="server">Home</a></li>
    <li><a href="~/About.cshtml" runat="server">About</a></li>
    <li><a href="~/Contact.cshtml" runat="server">Contact</a></li>
</ul>