@{
    Layout = "~/_BootstrapLayout.cshtml";
}

<div class="row">
    <h1 class="page-header">About This Demo</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <p>This demo began as an empty Asp.NET Web Application. Then we updated the NuGet packages and added the Bootstrap NuGet package (v 3.3.7).</p>
    </div>
    <div class="col-md-6">
        <img src="https://placehold.it/800x200/?text=Demo"
             class="img-responsive" />
    </div>
</div>
