@{ 
    Layout = "~/_BootstrapLayout.cshtml";
}

<!-- If you recall, this page will appear inside the following from the Layout Page:
    <div class="container">
        ...RenderBody()
    </div>    
    -->
<div class="jumbotron">
    <h1>Home Page</h1>
    <p>You can create a lot of code with emmet coding: <code>.row>.col-md-4*3>p*4>lorem</code></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project. All you get is this text and a mostly barebones HTML document.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Learning Bootstrap is Easy!</h2>
        <p>... if you have a lot of time, that is. Bootstrap is really a complicated CSS framework that works well for most UI needs of developers. Except of course, for...</p>
        <h3>Forms</h3>
        <p>Ah!! The bane of developers using Bootstrap is all the hoops we have to go through to make our forms look good. Expect to see lots of nesting &lt;div&gt; elements along with lots of classes, just to get even the simplest forms "looking good" in the browser. (Just don't look under the hood - aka "view source".)</p>
    </div>
    <div class="col-md-6">
        <h2>How IT <em>Should</em> Be</h2>
        <p>In the start of 2017, the world as we know it got immensely better! No, I'm not talking about Trump's presidency; I'm talking about <strong>CSS Grid</strong>, the first <em>real</em> two-dimensional layout capability in CSS ever to hit the web. All that earlier stuff you learned about using "floats" and "clearfix", along with the even earlier stuff about using tables for page layout - <u>all</u> of it can go out the window!</p>
        <p>But, don't expect to get the goodness right away! Remember, your education is largely government funded, so all the "good things" will probably come after you graduate. Now, back to our regularly-scheduled program...</p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <h3>This is Latin</h3>
        <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.</p>
        <p>Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.</p>
        <p>Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.</p>
    </div>
    <div class="col-md-4">
        <h3>This is also Latin</h3>
        <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.</p>
        <p>Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.</p>
        <p>Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.</p>
    </div>
    <div class="col-md-4">
        <h3>You Guessed it - Latin</h3>
        <p>Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.</p>
        <p>Placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante.</p>
        <p>Fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget.</p>
        <p>Sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla.</p>
    </div>
</div>
