<ul>
    <li class="brand">Razor Demos</li>
    <li><a href="~/Default.cshtml">Home Page</a></li>
    <li><a href="~/Sandbox.cshtml">Sandbox</a></li>
    <li><a href="~/About.cshtml">About</a></li>
</ul>
