<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
<body>
    <h1>Welcome</h1>
    <p>My first Razor web page.</p>
    <p>
        The date is
@{
    <b>
        @DateTime.Today.ToLongDateString()
    </b>
}
    </p>
</body>
</html>
