<!DOCTYPE html>
<html>
    <head>
        <title>Demo of Input type Password</title>
    </head>
    <body>
        <h1>Input Password Demo</h1>
        @{
            // var is a keyword that allows the compile to substitute the data-type
            // at run-time. When using var, you must assign the variable's value
            // in the same statement.
            var password = Request["coursePassword"];
            //             \ returns a string type /
            
            if(IsPost)
            {
                // an alternate to using string.IsNullOrEmpty()
                if (password.IsEmpty()) 
                {
                    <p>Please enter the course password!</p>
                }
                else
                {
                    if(password.Equals("CPSC1517"))
                    {
                        <p>Password correct. Access granted.</p>
                    }
                    else
                    {
                        <p>Wrong password! (should have been <b>CPSC1517</b>.)</p>
                    }
                }
            }
        }
        <form method="post">
            <div>
                <label for="coursePassword">Course Password</label>
                <input type="password" 
                    name="coursePassword" id="coursePassword"
                    placeholder="Vat iz zee passvord" />
                <input type="submit" value="Request Access" />
            </div>
        </form>
    </body>
</html>