<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    <nav>
        <em>Future navigation...</em>
    </nav>
    <main>
        <h1>Assorted Database/Razor Demos</h1>
        @RenderBody()
    </main>
</body>
</html>
