@{ 
    Layout = "~/_Layout.cshtml";
    Page.Title = "Demo WebGrid - Search Products by Category";

    var db = WebMatrix.Data.Database.Open("WestWindDb");
    var allCategories = db.Query("SELECT CategoryID, CategoryName FROM Categories");

    string categorySelection = Request[nameof(categorySelection)];

    List<SelectListItem> catOptions = new List<SelectListItem>();
    catOptions.Add(new SelectListItem { Value = "", Text = "[Select a Category]" });
    foreach(var item in allCategories)
    {
        catOptions.Add(new SelectListItem
        {
            Text = item.CategoryName,
            Value = item.CategoryID.ToString(),
            Selected = item.CategoryID.ToString() == categorySelection
        });
    }
}

<div>
    <h2>Search Products by Category</h2>
    <form id="myForm" method="post">
        Category:
        @Html.DropDownList(nameof(categorySelection), categorySelection, catOptions)
        <button type="submit">Look up Products</button>
    </form>

    @if (IsPost)
    {
        <hr />
        int catId;
        if (!int.TryParse(categorySelection, out catId))
        {
            <div>Please select an actual category before clicking the lookup button.</div>
        }
        else
        {
            var products = db.Query("SELECT ProductID, ProductName, QuantityPerUnit, UnitPrice FROM Products WHERE CategoryID = @0", catId);
            // Create a WebGrid with the resulting data
            // We are turning off paging and sorting with the WebGrid
            // so that we don't have to worry about mixing data sent
            // via both POST and GET requests. (There are better ways
            // now, in the late 2010's)
            var myGrid = new WebGrid(products, canPage: false, canSort: false);
            <div>
                <h3>Products</h3>
                @* Pass in data to my .GetHTML via named paramters *@
                @myGrid.GetHtml(columns: myGrid.Columns(
                    myGrid.Column(columnName: "ProductName", header: "Product Name"),
                    myGrid.Column(columnName: "QuantityPerUnit", header: "Qty/Unit"),
                    myGrid.Column(columnName: "UnitPrice", header: "Unit Price",
                                  format: @<text>@item.UnitPrice.ToString("C")</text>),
                   myGrid.Column(columnName: "ProductID", header: "Action",
                                 format: @<text>
                                    <form method="post" action="~/ManageProducts.cshtml">
                                        <button type="submit" name="submitAction" value="Edit">Edit</button>
                                        <input type="hidden" name="selectedProductId" value="@item.ProductID" />
                                    </form>
                                </text>)))
            </div>
        }
    }
</div>