<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Create Bank Account</title>
    <style type="text/css">
        label:before
        {
            content: ".";
            clear: both;
            display: block;
            height: 0;
            visibility: hidden;
        }
    </style>
</head>
<body>
    <header>
        <h1>Sample HTML 5 Form</h1>
        <nav>
            <ul>
                <li><a href="/Default.htm">Home</a></li>
                <li><a href="/FormSamples">HTML 5 Forms</a>
                    <ul>
                        <li><a href="/FormSamples/ContestEntry.html">Contest Entry</a></li>
                        <li><a href="/FormSamples/CreateBankAccount.html">Create Bank Account</a></li>
                        <li><a href="/FormSamples/JobApplication.html">Job Application</a></li>
                        <li><a href="/FormSamples/StudentEnrollment.html">Student Enrolement</a></li>
                    </ul>
                </li>
                <li><a href="/RazorSamples">Razor Forms</a>
                    <ul>
                        <li><a href="/RazorSamples/ContestEntry.cshtml">Contest Entry</a></li>
                        <li><a href="/RazorSamples/CreateBankAccount.cshtml">Create Bank Account</a></li>
                        <li><a href="/RazorSamples/JobApplication.cshtml">Job Application</a></li>
                        <li><a href="/RazorSamples/StudentEnrollment.cshtml">Student Enrolement</a></li>
                    </ul>
                </li>
                <li><a href="/Practice/Default.htm">Practice Forms</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>Create Bank Account</h1>
        <p>Fill in the following form and click Submit.

        <form action="CreateBankAccount.html">
            <fieldset>
                <legend>New Account</legend>
                <label for="accountHolder">Account Holder</label>
                <input name="accountHolder" type="text">
                <label for="accountNumber">Account Number</label>
                <input name="accountNumber" type="text">
                <label for="openingBalance">Opening Balance</label>
                <input name="openingBalance" type="number">
                <label for="overdraftLimit">Overdraft Limit</label>
                <input name="overdraftLimit" type="number">
                <label for="accountType">Account Type</label>
                <select name="accountType">
                    <option value="">[select an account type]</option>
                    <option value="Chequing">Chequing</option>
                    <option value="Savings">Savings</option>
                    <option value="Credit">Credit</option>
                </select>
            </fieldset>
            <input type="submit" name="submit" value="Submit">
        </form>
    </section>
</body>
</html>
