<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <!-- You can add a collapsable menu bar here -->
            <a class="navbar-brand" href="~/Default.cshtml">Consuming NuGet</a>
        </div>
        <div id="navbar" class="">
            <ul class="nav navbar-nav">
                <li><a href="~/Default.cshtml"><i class="fa fa-home"></i> Home</a></li>

            </ul>
        </div>
    </div>
</nav>
