@{ 
    Layout = "~/_Layout.cshtml";
}

<h1>Devs'R'Us</h1>

<div class="row">
    <div class="col-md-4">
        <h3>Built With...</h3>
    </div>
    <div class="col-md-4">
        <h3>Our Company</h3>
    </div>
    <div class="col-md-4">
        <h3>Our Solutions</h3>
    </div>
</div>